div.posts#recent-posts
    h2.inVisible Recent Posts
    hr
    {% for post in site.posts %}
        
    div.apost.inVisible
        a.title(href="{{ post.url }}") {{ post.title }}
        p.date {{ post.date | date: '%B %d, %Y' }}
        p.description {{ post.content | strip_html | truncatewords:10 }}
        a.continue(href="{{ post.url }}") continue reading..
                
    {% endfor %}
    
