div.posts#recent-posts
    h2 Recent Posts
    hr
    {% for post in site.posts %}
    
    div.apost
        a.title(href="{{ post.url }}") {{ post.title }}
        p.date {{ post.date | date: '%B %d, %Y' }}
        p.description {{ post.description }}
        a.continue(href="{{ post-url }}") continue reading..
                
    {% endfor %}
    
