header
    h1.logo Shivanshu Singh
    
    nav.site-nav
        ul
        li: a(href="#about") About
        li: a(href="#youtube") Youtube
        li: a(href="#mentoring") Mentoring
        li: a(href="#articles") Articles
        li: a(href="#vine") Vine
        li: a(href="#design") Design
        li: a(href="#notes") Notes
        li: a(href="#contact") Contact
    a(href="mailto:shivnshus@gmail.com").email-link +email me
