mixin nav-content()
    ul
        li: a(href="#about-section") About
        li: a(href="#skills-section") Skills
        li: a(href="#projects-section") Projects
        li: a(href="#education-section") Education
        li: a(href="#achievements-section-btn") Achievements
        li: a(href="#contact-section") Contact

.mobile-nav
    +nav-content()

header
    .header-position
        h1.logo Shivanshu Singh
        
        nav.site-nav
            +nav-content()
            
        a(href="").blog-link My Blog
        
        .mobile-nav-toggle: span
