mixin nav-content()
    ul
        li: a(href="#about") About
        li: a(href="#skills") Skills
        li: a(href="#projects") Projects
        li: a(href="#education") Education
        li: a(href="#achievements") Achievements
        li: a(href="#contact") Contact

.mobile-nav.is-open
    +nav-content()

header
    .header-position
        h1.logo Shivanshu Singh
        
        nav.site-nav
            +nav-content()
        a(href="").blog-link My Blog
        .mobile-nav-toggle: span
        
    div.button-scroll-top
        a(href="")
            div#scrollToTop
                i.fa.fa-arrow-up.fa-2x
