section.skills
    h2 Skills
    
    div.programming-div
        h4 Programming Languages
        div.programming-lang
        
    div.develop-div
        h4 Development Environments
        div.develop-env
        
    div.operating-div
        h4 Operating Systems
        div.operating-sys
    
    div.tools-div
        h4 Tools and Packages
        div.tools-pkgs
        
    div.courses-div
        h4 Courses
        div.courses    
