section.footer 
    p © 2017 Shivanshu Singh. Powered By 
        a(href="https://jekyllrb.com/", target="_blank") Jekyll

    div.button-scroll-top
        a(href="")
            div#scrollToTop
                i.fa.fa-arrow-up.fa-2x
