section.achievements-section#achievements-section-btn
    h2.animateItUp.inVisible Achievements
    
    div.achievements.animateItUp.inVisible
        ul
            li Awarded 
                strong Best Android App 
                normal in hackathon organised by Google Developers Group, IIT Kanpur
            li Changed branch to 
                strong Mechanical Engineering 
                normal after 2nd semester on the basis of 
                strong Academic performance 
            li Secured 
                strong 97.1 
                normal percentile in JEE-Advanced 2014 among 
                strong 1.5 lacs 
                normal students 
