section.about
    h2.animated.bounceInUp About Me
    div.about-block.animated.fadeInUpBig
    
        div.left-about
            img(src="assets/img/profile.jpg")
            
        div.right-about
            div.profile-info
                p.name I'm 
                    strong Shivanshu Singh
                p.desc Just another enthusiatic human being
                
            hr
            
            dl.profile-list
                dt Age
                dd 18
                dt Address
                dd A229/10, IIT Kanpur
                dt E-mail
                dd shivansh@iitk.ac.in
                dt Phone
                dd +91-8004610134

        div.social-media
            ul
                li
                    a(href="")
                        i.fa.fa-facebook.fa-lg.custom-icon
                li
                    a(href="")
                        i.fa.fa-twitter.fa-lg.custom-icon
                li
                    a(href="")
                        i.fa.fa-linkedin.fa-lg.custom-icon
                li
                    a(href="")
                        i.fa.fa-google-plus.fa-lg.custom-icon
        
    div.about-content
        div.profile-button
        div.profile-text
