section.education-section
    h2.animated.fadeInUp Education
    
    div.education
        div.b-tech.animated.fadeInLeft
            div.education-header
            h4 Mechanical Engineering
            p Indian Institute of Technology, Kanpur
        div.twelth.animated.fadeInRight
            div.education-header
            h4 Intermediate (CBSE)
            p Vinayak Academy, Orai
        div.tenth.animated.fadeInLeft
            div.education-header
            h4 High School (CBSE)
            p Vinayak Academy, Orai
