section.skills
    h2 Skills
    
    div.programming-div
        h4 Programming Languages
        div.programming-lang
            ul
                li C
                li Java
                li JavaScript
                li Python
        
    div.develop-div
        h4 Development Environments
        div.develop-env
            ul
                li Android Studio
                li Visual Studio
                li Eclipse
                li RadASM
        
    div.operating-div
        h4 Operating Systems
        div.operating-sys
            ul
                li Arch
                li Debian
                li FreeBSD
                li Windows
    
    div.tools-div
        h4 Tools and Packages
        div.tools-pkgs
            ul
                li Git
                li Matlab
                li IDA Pro
                li Inventor
        
    div.courses-div
        h4 Courses
        div.courses    
            ul
                li Data Structure and Algorithms
                li Fundamental of Computing
                
