section.contacts#contact-section
    h2.animateItUp.inVisible Contact Me
    div.contact-div.animateItUp.inVisible
        ul
            li
                a.fa.fa-map-marker.fa-4x(href="https://www.google.co.in/maps/place/Hall+10/@26.506548,80.2264367,15z/data=!4m5!3m4!1s0x0:0x50dd1c8c15e7af81!8m2!3d26.506548!4d80.2264367", target="_blank")
            li
                a.fa.fa-phone.fa-4x(href="tel:+918004610134")
            li
                a.fa.fa-envelope.fa-4x(href="mailto:shivansh@iitk.ac.in")
        
