section.education-section
    h2 Education
    
    div.education
        div.b-tech
            h4 Mechanical Engineering
            p Indian Institute of Technology, Kanpur
        div.twelth
            h4 Intermediate (CBSE)
            p Vinayak Academy, Orai
        div.tenth
            h4 High School (CBSE)
            p Vinayak Academy, Orai
