section.education-section
    h2.animateItUp.inVisible Education
    
    div.education
        div.b-tech.animateItLeft.inVisible
            div.education-header
            h4 Mechanical Engineering
            p Indian Institute of Technology, Kanpur
        div.twelth.animateItRight.inVisible
            div.education-header
            h4 Intermediate (CBSE)
            p Vinayak Academy, Orai
        div.tenth.animateItLeft.inVisible
            div.education-header
            h4 High School (CBSE)
            p Vinayak Academy, Orai
