section.projects-section#projects-section
    h2.animateItUp.inVisible Projects
    
    div.projects
    
        div.project-first.animateItLeft.inVisible
            div.project-header
            p.date November 2016 - Present
            h4 Cultural Council Website, IIT Kanpur
            h4.course Cultural Council, IIT Kanpur
            p.dis Conceptualised and developed a web application with the attempt to incorporate all the clubs and hobby group under Cultural council. Developed intuitive UI for timetable and photo-gallery.
            
        div.project-second.animateItRight.inVisible
            div.project-header
            p.date October 2016
            h4 #tag
            h4.course Google Developers Group Dev Fest
            p.dis Implemented a file management system using tags that has superior accessibility capabilities as opposed to a conventional file management system 
            
        div.project-third.animateItLeft.inVisible
            div.project-header
            p.date January 2016 - March 2016
            h4 Kinetic Sculpture
            h4.course TA-202
            p.dis Designed and simulated 3D model of a man walking and pushing a stone on Autodesk Inventor. Manufactured a working model using manufacturing mechanism techniques like milling, drilling, fitting, shaping and lathing
            
        div.project-fourth.animateItRight.inVisible
            div.project-header
            p.date August 2015 - November 2015
            h4 Steam Road Roller
            h4.course TA-201
            p.dis Designed a 3D model of Steam Roller on Autodesk Inventor. Manufactured a small working model of steam road roller developed using manufacturing processes like casting, joining, cutting and forming

        div.project-fifth.animateItLeft.inVisible
            div.project-header
            p.date August 2015 - November 2015
            h4 Mechanical Wrist Watch
            h4.course ME-251
            p.dis Developed a detailed CAD model of a purely mechanically driven wrist watch. It included needles for hour, minutes and seconds and also displays day.

        div.project-sixth.animateItRight.inVisible
            div.project-header
            p.date January 2015
            h4 Microsoft’s Code.Fun.Do.
            h4.course 24-hours hackathon
            p.dis Developed an interactive game in the team of four using JavaScript and XML. Received special appreciation from the Microsoft team of judges.
