section.skills#skills-section
    h2.animateItUp.inVisible Skills
    
    div.programming-div.animateItLeft.inVisible
        h4 Programming Languages
        div.programming-lang
            ul
                li C/C++
                li Java
                li JavaScript
                li Python
        
    div.develop-div.animateItRight.inVisible
        h4 Development Environments
        div.develop-env
            ul
                li Android Studio
                li Visual Studio
                li Eclipse
                li Vim
        
    div.operating-div.animateItLeft.inVisible
        h4 Operating Systems
        div.operating-sys
            ul
                li Android
                li Arch
                li Debian
                li Windows
    
    div.tools-div.animateItRight.inVisible
        h4 Tools and Packages
        div.tools-pkgs
            ul
                li Git
                li Matlab
                li IDA Pro
                li Inventor
        
    div.courses-div.animateItLeft.inVisible
        h4 Courses
        div.courses    
            ul
                li Data Structure and Algorithms
                li Fundamental of Computing
            ul
                li Computer Systems Security
                li Operating Systems*
            ul
                li Machine Learning*
                li Introduction to Logic
            ul
                li Digital Switching
                li Probability and Statisics*
            p  * denotes audited/online courses


                
