section.achievements-section#achievements-section-btn
    h2.animateItUp.inVisible Achievements
    
    div.achievements.animateItUp.inVisible
        ul
            li Secured 99 persentile in JEE Advance 2014
            li Other Achievements
