section.projects-section
    h2.animated.fadeInUp Projects
    
    div.projects
    
        div.project-first.animated.fadeInLeft
            div.project-header
            p.date August 2016 - November 2016
            h4 Title of Project
            h4.course Project course
            p Project Description
            
        div.project-second.animated.fadeInRight
            div.project-header
            p.date August 2016 - November 2016
            h4 Title of Project
            h4.course Project course
            p Project Description
            
        div.project-third.animated.fadeInLeft
            div.project-header
            p.date August 2016 - November 2016
            h4 Title of Project
            h4.course Project course
            p Project Description
            
