section.about#about-section
    h2.animateItUp.inVisible About Me
    div.about-block.animateItUp.inVisible
    
        div.left-about
            img(src="assets/img/profile.jpg")
            
        div.right-about
            div.profile-info
                p.name I'm 
                    strong Shivanshu Singh
                p.desc Just another enthusiatic human being
                
            hr
            
            dl.profile-list
                dt Age
                dd 18
                dt Address
                dd A229/10, IIT Kanpur
                dt E-mail
                dd shivansh@iitk.ac.in
                dt Phone
                dd +91-8004610134

        div.social-media
            ul
                li
                    a.fa.fa-facebook.fa-lg.custom-icon(href="https://www.facebook.com/shivanshu.singh.5015", target="_blank")
                li
                    a.fa.fa-twitter.fa-lg.custom-icon(href="https://twitter.com/shivnshus", target="_blank")
                li
                    a.fa.fa-linkedin.fa-lg.custom-icon(href="https://www.linkedin.com/in/shivanshu-singh-839086ba?trk=nav_responsive_tab_profile", target="_blank")
                li
                    a.fa.fa-google-plus.fa-lg.custom-icon(href="https://plus.google.com/104465558723726017281", target="_blank")
        
    div.about-content.animateItUp.inVisible
        div.profile-button
            a.btn(href="") DOWNLOAD RESUME
            
            
        div.profile-text
            p Hi! I am Shivanshu Singh, junior at IIT Kanpur.
