section.about
    h2 About Me
    div.about-block
    
        div.left-about
            img(src="assets/img/profile.jpg")
            
        div.right-about
            div.profile-info
                p.name I'm 
                    strong Shivanshu Singh
                p.desc Just another enthusiatic human being
                
            hr
            
            dl.profile-list
                dt Age
                dd 18
                dt Address
                dd A229/10, IIT Kanpur
                dt E-mail
                dd shivansh@iitk.ac.in
                dt Phone
                dd +91-8004610134
                
                
        div.social-media
            i.fa.fa-facebook
        
    div.about-content
