section.contacts
    h2.animateItUp.inVisible Contact Me
    div.contact-div.animateItUp.inVisible
        ul
            li
                a.fa.fa-map-marker.fa-4x(href="")
            li
                a.fa.fa-phone.fa-4x(href="")
            li
                a.fa.fa-envelope.fa-4x(href="")
        
