section.achievements-section
    h2.animated.fadeInUp Achievements
    
    div.achievements.animated.fadeInUp
        ul
            li Secured 99 persentile in JEE Advance 2014
            li Other Achievements
