section.projects-section
    h2 Projects
    
    div.projects
    
        div.project-first
            div.project-header
            p.date August 2016 - November 2016
            h4 Title of Project
            h4.course Project course
            p Project Description
            
        div.project-second
            div.project-header
            p.date August 2016 - November 2016
            h4 Title of Project
            h4.course Project course
            p Project Description
            
        div.project-third
            div.project-header
            p.date August 2016 - November 2016
            h4 Title of Project
            h4.course Project course
            p Project Description
            
