---
layout: default
title: R4ndomBits
---
<div class="home-wrap">

    <!-- <div class="header-section" style="background-color: white;"> -->

        {%  include header.html  %}

    <!-- </div> -->

    <div class="home-section">

        {% include section-topBar.html %}
        {% include section-about.html %}
        {% include section-skills.html %}
        {% include section-projects.html %}
        {% include section-education.html %}
        {% include section-achievements.html %}
        {% include section-contacts.html %}
        {% include section-footer.html %}

    </div>

</div>
