---
layout: default
title: R4ndomBits
---
<div class="home-wrap">


        {%  include header.html  %}


    <div class="home-section" style="display:none;">

        {% include section-topBar.html %}
        {% include section-about.html %}
        {% include section-skills.html %}
        {% include section-projects.html %}
        {% include section-education.html %}
        {% include section-achievements.html %}
        {% include section-contacts.html %}
        {% include section-footer.html %}

    </div>

    <div class="posts" style="">
        {% include blog.html %}
    </div>

</div>
