div.blog-section
    width: 100%
    // height: 500px

    div.posts
        ul
            list-style: none
            margin: 0
            padding: 0

        background-color: white
        width: 50%
        height: 100vh
        margin-left: auto
        margin-right: auto
        padding: 0

        .apost
            width: 50%
            margin: 0
            padding: 0
            // height: 500px
            background-color: red

        .col
            margin-left: 0
            float: left
