div.blog-section
    width: 100%
    div.posts
        position: relative
        background-color: white
        width: 50%
        height: 100vh
        margin-left: auto
        margin-right: auto
        padding: 0

        h2
            text-align: center
            margin: 0
            padding: 3%
            font-size: 30px
            font-weight: 800

        hr
            margin: 30px 5%
            border: 0
            height: 2px
            background-image: linear-gradient(to right, rgba(192, 63, 63, 0), rgba(192, 63, 63, 0.75), transparent)

        .apost
            background-color: red
            width: 90%
            margin-left: 5%
            height: 100px
            margin-bottom: 20px

            a
                font-size: 20px
                color: #4A4A4A

            .date
                margin: 0
