div.blog-section
    width: 100%
    // height: 500px

    div.posts
        position: relative
        background-color: white
        width: 50%
        height: 100vh
        margin-left: auto
        margin-right: auto
        padding: 0

        .post-excerpt
            float: left
            width: 50%
            // background-color: red
            text-align: center

            .padded-content
                padding: 50px


                .title
                    font-size: 18px
                    color: black

                .body
                    color: rgba(0, 0, 0, 0.8)

            &:hover
                background-color: red

        .breaker
            clear: both
        .end
            width: 100%
            text-align: center
            padding-top: 40px
