section.about
    h2
        text-align: center
        color: rgb(128, 0, 0)

    .about-block
        width: 775px
        background-color: rgba(51, 204, 204,.4)
        margin-left: auto
        margin-right: auto
        position: relative
        border-radius: 30px

        @media(max-width: 1070px)
            width: 97%

        .left-about
            float: left
            width: 35%
            vertical-align: middle
            img
                max-width: 90%
                display: block
                margin-left: auto
                margin-right: auto
                margin-top: 50px

        .right-about
            float: right
            width: 60%
            .profile-info
                p.name
                    font-size: 30px
                    margin: 50px
                    margin-bottom: 0
                p.desc
                    font-size: 20px
                    padding-left: 50px
            hr
                background-color: red
                height: 1px
                margin-right: 40px

            .profile-list
                margin: 0
                dt
                    font-weight: 900
                    float: left
                    line-height: 30px
                dd
                    margin-left: 150px
                    line-height: 30px

        .social-media
            clear: both
            ul
                list-style: none
                display: flex
                justify-content: space-around
                padding: 20px
                li
                    display: inline

                    a
                        width: 40px
                        padding: 12px 0
                        border-radius: 20px
                        text-align: center
                        background-color: #BD5248
                        color: white


    .about-content
        .profile-button
            margin-top: 35px
            text-align: center
            .btn
                padding: 20px 55px
                font-weight: 700
                letter-spacing: 0.05em
                background-color: rgba(51, 204, 204,.4)
                transition: all 0.3s ease-out
                &:hover
                    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
                    color: #BD5248

        .profile-text
            margin-top: 35px
            text-align: center
            font-size: 20px
            line-height: 1.8
            width: 700px
            margin-left: auto
            margin-right: auto
            @media(max-width: 1070px)
                width: 90%

@media(max-width: 670px)
    .about-block
        padding-top: 1px
        .left-about
            float: none !important
            width: 100% !important
        .right-about
            float: none !important
            width: 100% !important
            text-align: center
            hr
                margin-left: 20px
                margin-right: 20px !important
            .profile-list
                margin-left: 10% !important
                dd
                    margin-left: 30% !important
