section.about
    h2
        text-align: center
        color: rgb(128, 0, 0)

    .about-block
        // height: 55vh
        width: 775px
        background-color: rgba(51, 204, 204,.4)
        margin-left: auto
        margin-right: auto
        position: relative
        padding-bottom: 90px
        border-radius: 30px

        @media(max-width: 950px)
            width: 97%

        .left-about
            float: left
            width: 35%
            // height: 80%
            vertical-align: middle
            // position: absolute
            img
                max-width: 90%
                display: block
                margin-left: auto
                margin-right: auto
                margin-top: 50px

        .right-about
            float: right
            // position: absolute
            // height: 80%
            width: 60%
            .profile-info
                p.name
                    font-size: 30px
                    margin: 50px
                    margin-bottom: 0
                    // font-weight: 900
                p.desc
                    font-size: 20px
                    padding-left: 50px
            hr
                background-color: red
                height: 1px
                margin-right: 40px

            .profile-list
                margin: 0
                dt
                    font-weight: 900
                    float: left
                    line-height: 30px
                dd
                    margin-left: 150px
                    line-height: 30px

        .social-media
            clear: both
            // background-color: red
            // padding: 40px
            ul
                // text-align: center
                list-style: none
                // padding: 0
                li
                    // display: inline
                    // margin: 9%
                    a
                        position: relative
                        width: 40px
                        // height: 40px
                        float: left
                        color: white
                        background-color: rgba(128, 0, 0,.6)
                        margin-top: 20px
                        margin-left: 100px
                        text-align: center
                        padding-top: 5px
                        padding-bottom: 5px
                        border-radius: 20px

    .about-content
        background-color: red
        margin-left: auto
        margin-right: auto
        width: 500px
        height: 500px
