section.topBar
    height: 100vh
    margin-left: auto
    margin-right: auto
    background:
        color: rgba(51, 204, 204,1)
        image: url(../img/home.png)
        position: center 50px
        repeat: no-repeat
        // attachment: fixed


@media(max-width: 1050px)
    section.topBar
        background-size: 70%

@media (max-width: 1070px)
    section.topBar
            background-position: center 140px
            background-size: 90%
            height: calc(100vh - 90px)
