section.skills
    h2
        text-align: center
        color: rgb(128, 0, 0)
        margin-top: 5%

    div.programming-div
        h4
            text-align: center
        .programming-lang
            background-color: white
            margin-left: auto
            margin-right: auto
            // height: 200px
            width: 900px
            padding: 10px

            ul
                list-style: none
                display: flex
                justify-content: space-around
                padding: 0
                // margin-left: 40px
                // margin-right: 40px
                li
                    display: inline


    div.develop-div
        h4
            text-align: center
        .develop-env
            background-color: white
            margin-left: auto
            margin-right: auto
            // height: 500px
            width: 900px
            padding: 10px

            ul
                list-style: none
                display: flex
                justify-content: space-around
                padding: 0
                // margin-left: 40px
                // margin-right: 40px
                li
                    display: inline


    div.operating-div
        h4
            text-align: center
        .operating-sys
            background-color: white
            margin-left: auto
            margin-right: auto
            // height: 500px
            width: 900px
            padding: 10px
            ul
                list-style: none
                display: flex
                justify-content: space-around
                padding: 0
                // margin-left: 40px
                // margin-right: 40px
                li
                    display: inline


    div.tools-div
        h4
            text-align: center
        .tools-pkgs
            background-color: white
            margin-left: auto
            margin-right: auto
            // height: 500px
            width: 900px
            padding: 10px
            ul
                list-style: none
                padding: 0
                display: flex
                justify-content: space-around
                // margin-left: 40px
                // margin-right: 40px
                li
                    display: inline

    div.courses-div
        h4
            text-align: center
        .courses
            background-color: white
            margin-left: auto
            margin-right: auto
            // height: 500px
            width: 900px
            padding: 10px
            ul
                list-style: none
                padding: 0
                display: flex
                justify-content: space-around
                // margin-left: 80px
                // margin-right: 80px
                li
                    display: inline
